@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We Always Here!!! <a href="https://docs.microsoft.com/aspnet/core">Your number One Stop for Housing and Accomodation</a>.</p>
</div>
